@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.enso-text');
  background: theme('colors.enso-background');

  /* LiveKit Component Theming */
  --lk-button-foreground: #1a1a1a;
  --lk-control-button-foreground: #1a1a1a;
  --lk-control-button-background: transparent;
  --lk-control-button-background-hover: #f2f2f2;
}
